<div class="d-flex flex-column">
  <div class="pt-5 pb-5 text-center"><h1>Hello World!</h1></div>
  <div class="pt-5 mt-5 pb-5 mb-5">
    <%= form_with url: home_guest_sign_in_path, method: :post,class:"d-flex justify-content-center" do |form| %>
      <%= image_submit_tag "/images/enter.png", class: "xta",name:nil %>
    <% end %>
  </div>
  <div class="pt-5 pb-5 text-center"><h1>Hello World!</h1></div>
</div>
<%# <%=javascript_include_tag "/home/index" %>  
